<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
    <!--* Google icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <!--* Font awesome -->
    <script
      src="https://kit.fontawesome.com/53405766b0.js"
      crossorigin="anonymous"
    ></script>
    <!--* CSS -->
    <link rel="stylesheet" href="../css/profile.css" />
    <link rel="stylesheet" href="../css/profileDark.css" />
    <script src="../JavaScript/profile.js" defer></script>
    <title>EasyTech</title>
  </head>
  <body>
    <%- include('../includes/nav.ejs'); -%>

    <div id="prfileContainer">
      <div class="navigation">
        <a href="index"><p>Home</p></a>
        <span class="material-symbols-outlined"> chevron_right </span>
        <a href="profile"><p>Profile</p></a>
      </div>
      <div class="cntProfile">
        <div class="dash">
          <div class="slot activeSlot">
            <a href="profile">Account details</a>
            <a href="profile"><i class="fa-solid fa-user"></i></a>
          </div>
          <div class="slot">
            <a href="profile/address">Address</a>
            <a href="profile/address"
              ><i class="fa-solid fa-map-location-dot"></i
            ></a>
          </div>

          <div class="slot">
            <p>Dark mode</p>
            <div class="dark_label">
              <div class="ball"></div>
            </div>
          </div>
          <div class="slot">
            <a href="/LogOut">Log Out</a>
            <a href="/LogOut"><i class="fa-solid fa-right-from-bracket"></i></a>
          </div>
        </div>
        <div class="Details">
          <h1>Account details</h1>
          <div class="conatiner">
            <form action="userUpdate" method="post">
              <label for="fname">Full name *</label>
              <!-- prettier-ignore -->
              <input type="text" name="fname" value=<%=user.user_name%> required
              />
              <label for="emailAddress">E-mail *</label>
              <!-- prettier-ignore -->
              <input type="email" name="emailAddress" value=<%=user.user_email%>
              required/>
              <label for="phoneNumber">Phone number </label>
              <!-- prettier-ignore -->
              <input type="number" name="phoneNumber" value= <%= user ? user.Phone_number : '' %> min="10" />
              <label for="gender">Gender </label>
              <!-- prettier-ignore -->
              <select name="gender" id="gender" value=<%=user.gender%>>
                <option>MALE</option>
                <option>FEMALE</option>
              </select>
              <button>UPDATE</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('../includes/footer.ejs'); -%>
  </body>
</html>
